/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

body {
    font-family: sans-serif; 
}

div.container, div.home-container { 
	max-width: 40em;
    margin: auto;
}

h1 {
	width: 9em;
    font-family: serif;
    margin: 1rem 0.5rem;
}

h2 {
    font-size: 2em;
    font-family: serif;
    color: rgb(86, 116, 157);
    font-weight: 700;
    margin: 0.2rem 0.5rem 0.2rem;
}

section.mainstory h2 {
    font-size: 3em;
}

.secondarystory {
    margin-top: 1rem;
}

ul {
      margin: 1rem 0;
}

ul li 	{
	list-style-type: none;
    font-weight: 700;
    padding: 0rem 0.5rem;
}

ul li a {
    text-decoration: none;
    color: rgb(86, 116, 157);
}

p {
    color: rgb(31, 31, 31);
    padding: 0.2rem 0.5rem 2rem;
}

a {
    text-decoration: none;
}

.tertiarystory {
    border-top: 1px solid rgb(86, 116, 157);
    margin: 1rem 0.5rem;
}

.tertiarystory h2 {
    font-size: 1.2em;
    margin: 0;
}

.tertiarystory p {
    padding-left: 0rem;
}

figcaption {
    margin: 0.2rem 0.5rem 1.5rem;
    font-style: italic;
    color: rgb(99, 99, 99);
}

footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  background: rgb(86, 116, 157);
}

footer p {
     color: rgb(234, 239, 246);
     padding: 0;
}

aside {
    background-color: rgb(232, 203, 244);
}

aside figure {
    padding: 0.5rem;
}

aside .secondarystory h2 {
    font-size: 1.2em;
    margin-left: 1rem;
}

aside .secondarystory p {
    margin-left: 0.5rem;
}

@media screen and (min-width: 40em) {

    h1, h2, p, figcaption {
        margin-left: 0;
    }

    p, figcaption {
        padding-left: 0;
    }

    nav ul li {
        display: inline;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }

    .tertiarystory {
        margin-left: 0;
        margin-right: 0;
    }

    aside .secondarystory h2, aside .secondarystory p {
    margin-left: 0.5rem;
    }

    footer {
        padding-left: 0;
    }

}


@media screen and (min-width: 60em) {

  div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

     div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

     div.container aside {
        margin-top: 0;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

     section.secondarystory {
        display: flex;
    }

    section.secondarystory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondarystory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondarystory a figure img {
        object-fit: cover;
    }

    section.secondarystory a h2 {
        flex: 0 0 1em;
    }

    section.secondarystory a p {
        flex: 0 0 4em;
        padding: 0;
    }

    .secondarystory {
        margin: 0;
    }

    .tertiarystory {
        margin: 0;
    }

}
