/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}



/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */


h1 {
    font-size: 2.2em;
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    padding: 2rem 1.7rem 0.5rem;
    color: rgb(240, 240, 240);
    background-color: rgb(230, 147, 65);
}

h2 {
    font-size: 1.5em;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    color: rgb(253, 225, 197);
    padding: 0rem 1.7rem 1rem;
    background-color: rgb(230, 147, 65);
}

h3 {
    font-size: 1.3em;
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    color: rgb(230, 147, 65);
    text-transform: uppercase;
    letter-spacing: 0.07em;
    padding: 1.5rem 1.7rem 0rem;
}

figcaption {
    font-family: poppins, sans-serif;
    font-weight: 400;  
    font-style: italic;
    padding: 0.7rem 1.7rem 0.3rem;
}

ul {
	margin: 1rem 1.7rem 0.3rem;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

ol {
    margin: 1rem 1.7rem 3rem;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

li { 
	margin-bottom: 0.8rem;
}

p {
    padding: 1.5rem 1.3rem 1.5rem;
    background-color: rgb(230, 147, 65);
    color: rgb(240, 240, 240);
    font-family: poppins, sans-serif; 
    font-weight: 400;  
    font-style: normal;
}
